In [1]:
# Delcaration of function

def add(x,y): # parameters
    addition = x + y
    return addition

In [3]:
add(4,7) # Postional Arguments

11

In [4]:
add(4,9)

13

In [5]:
def sqr(x):
    return x**2, x*x

In [6]:
sqr(2)

(4, 4)

In [7]:
sqr(16)

(256, 256)

In [8]:
def test(a,b,e):
    return a + b, a - e

In [9]:
test(5,6,1)

(11, 4)

In [10]:
test(b = 6, a = 5, e = 1) # keyword arguments

(11, 4)

In [11]:
test?

In [ ]:
test()

In [12]:
def test(a,b,e):
    "Hello World :)"
    return a + b, a - e

In [13]:
test(4, e = 3, b = 2) # mix arguments (first postional argument then keywords arguments)

(6, 1)

In [15]:
def tax(salary, tax_rate = 0.05): # default arguments
    return salary * tax_rate

In [16]:
tax(10000)

500.0

In [17]:
tax(10000, 0.10)

1000.0

In [18]:
tax(10000)

500.0

In [20]:
from csv import reader

In [21]:
open_file = open("AppleStore.csv", encoding = "utf-8")
read_file = reader(open_file)
applestore = list(read_file)

In [22]:
header = applestore[0]
applestore = applestore[1:]

* Create a function for frequency table
    1. first parameter: dataset
    2. second parameter: col index number

In [28]:
def freq(dataset, index):
    dictionary = {}
    for i in dataset:
        value = i[index]
        if value not in dictionary:
            dictionary[value] = 1
        else:
            dictionary[value] += 1
    
    return dictionary

In [29]:
freq(applestore, 11)

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

In [30]:
freq(applestore, 7)

{'3.5': 702,
 '4.5': 2663,
 '4': 1626,
 '3': 383,
 '5': 492,
 '2.5': 196,
 '2': 106,
 '1.5': 56,
 '1': 44,
 '0': 929}

In [32]:
header.index("price")

4

* Create a function for frequency table
    1. first parameter: dataset
    2. second parameter: col name